*,html,body{
    margin: 0;
    padding: 0;
}
body {
  background-color: #3182CE;
  font-family: Arial, sans-serif;
}

.login-box {
  width: 300px;
  background-color: #FFFFFF;
  margin: 50px auto;
  padding: 20px;
  border-radius: 15px;
}

.login-box h1 {
  text-align: center;
  color: #000000;
}

.textbox {
  width: 100%;
  overflow: hidden;
  margin-bottom: 20px;
  border-radius: 30px;
  background: #A5B4FC;
  background: linear-gradient(to right, #A5B4FC, #3182CE);
}

.textbox input {
  border: none;
  outline: none;
  background: none;
  color: #000000;
  font-size: 16px;
  width: 80%;
  float: left;
  margin: 0 10px;
}

.btn {
  width: 100%;
  background-color: #000000;
  color: #FFFFFF;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
  padding: 10px;
  transition: all 0.3s ease 0s;
}

.btn:hover {
  background-color: #FFFFFF;
  color: #000000;
}

.poto {
  text-align: center;
  width: 140px;
  height: 140px;
  border: 5px solid #FFFFFF;
  border-radius: 50%;
  padding:70px; auto
}